.box {
	border: 1px black solid;
}

body{
	position: relative;
	overflow: hidden;
}

img{
	position: absolute;
	top: 125px;
    left: 180px;
    opacity: 0.1;
    width: 70%;
}
#header{
	height: 100px;
}
#MWTitle{
	text-align: center;
}
#loginHeader{
	padding: 0;
	margin-top: 15px;
}
#molecular-weight {
	text-align: center;
}
#search {
	text-align: center;
	margin-bottom: 10px;
}
#loginButton {
	margin-left: 5px;
}

#calcPanelWith{
    background-color: rgba(29, 26, 26, 0.56);
    width: 60%;
}
	#calcPanelWith h3 {
		color: white;
		margin-top: 10px;
		margin-bottom: 20px;
	}

#calPanelWithOut{
	width: 60%;
}
	#calcPanelWithOut h3{
		margin-top: 0px;
		margin-bottom: 20px;
	}


	.calculatableElement{
		float:left;
		width: 85px;
		margin-right: 10px;
		margin-bottom: 10px;
	}
		.plusButton{
			align-content: center;
			margin-left: 22px;
			width: 20px;
		}
		.calculatableAcronym{
			text-align: center;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 40px;
		}
		.minusButton{
			margin-left: 23px;
			width: 20px;
		}


#current-letters{
	text-align:center;
}
	#elements-found{
		height: 428px;
	}

		.clickableElement{
		    background-color: rgb(224, 212, 218);
		}	
			.clickableElement:hover{
				cursor: pointer;
				background-color: rgb(210, 122, 166);
			}
			.atomic-number-p{
				margin-bottom:0;
			}
			.acronym-h2{
				margin:0;
				text-align: center;
			}
			.name-p{
				text-align: center;	
				margin:0;
			}
			.mass-p{
				text-align: center;
			}